# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
@EXPLICIT
https://repo.continuum.io/pkgs/free/win-64/alabaster-0.7.9-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/astroid-1.4.9-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/astropy-1.3-np111py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/babel-2.3.4-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/backports_abc-0.5-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/bleach-1.5.0-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/bzip2-1.0.6-vc10_3.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/chardet-3.0.4-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/colorama-0.3.9-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/curl-7.52.1-vc10_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/cycler-0.10.0-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/decorator-4.1.2-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/docutils-0.13.1-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/entrypoints-0.2.3-py34_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/expat-2.1.0-vc10_2.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/freetype-2.5.5-vc10_2.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/freexl-1.0.2-vc10_1.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/gdal-2.1.2-np111py34_vc10_6.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/geos-3.5.0-vc10_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/glob2-0.5-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/glueviz-0.9.1-py34_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/hdf4-4.2.12-vc10_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/hdf5-1.8.17-vc10_8.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/html5lib-0.999-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/icu-57.1-vc10_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/imagesize-0.7.1-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/ipykernel-4.6.1-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/ipython-5.3.0-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/ipython_genutils-0.2.0-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/isort-4.2.5-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/jedi-0.9.0-py34_1.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/jinja2-2.9.6-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/joblib-0.9.4-py34_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/jpeg-9b-vc10_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/jsonschema-2.6.0-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/jupyter_client-5.1.0-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/jupyter_core-4.3.0-py34_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/kealib-1.4.6-vc10_3.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/lazy-object-proxy-1.2.2-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/libgdal-2.0.0-vc10_1.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/libiconv-1.14-vc10_4.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/libnetcdf-4.4.1.1-vc10_2.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/libpng-1.6.30-vc10_1.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/libpq-9.5.4-vc10_3.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/libspatialite-4.3.0a-vc10_13.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/libtiff-4.0.6-vc10_7.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/libxml2-2.9.3-vc10_9.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/markupsafe-1.0-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/matplotlib-2.0.0-np111py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/mistune-0.7.4-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/mkl-2017.0.3-0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/nbconvert-5.2.1-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/nbformat-4.3.0-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/networkx-1.11-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/numpy-1.11.3-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/numpydoc-0.6.0-py34_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/openjpeg-2.1.2-vc10_2.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/openssl-1.0.2l-vc10_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/pandas-0.19.2-np111py34_1.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/pandocfilters-1.4.1-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/path.py-10.0-py34_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/pcre-8.39-vc10_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/pep8-1.7.0-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/pickleshare-0.7.4-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/pillow-4.0.0-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/pip-9.0.1-py34_1.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/proj4-4.9.3-vc10_2.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/prompt_toolkit-1.0.14-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/psutil-5.0.1-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/py-1.4.32-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/pyflakes-1.5.0-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/pygments-2.2.0-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/pylint-1.6.4-py34_1.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/pyparsing-2.2.0-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/pyqt-5.6.0-py34_2.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/pysal-1.12.0-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/pytest-3.0.5-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/python-3.4.5-0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/python-dateutil-2.6.1-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/pytz-2017.2-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/pyzmq-16.0.2-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/qt-5.6.2-vc10_5.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/qtawesome-0.4.3-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/qtconsole-4.2.1-py34_2.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/qtpy-1.2.1-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/requests-2.14.2-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/rope-0.9.4-py34_1.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/scikit-image-0.12.3-np111py34_1.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/scikit-learn-0.18.1-np111py34_1.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/scipy-0.19.1-np111py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/setuptools-27.2.0-py34_1.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/simplegeneric-0.8.1-py34_1.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/sip-4.18-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/six-1.10.0-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/snowballstemmer-1.2.1-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/sphinx-1.5.1-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/spyder-3.1.2-py34_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/sqlite-3.13.0-vc10_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/testpath-0.3.1-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/tk-8.5.18-vc10_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/tornado-4.5.1-py34_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/tqdm-4.15.0-py_1.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/traitlets-4.3.2-py34_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/vc-10-0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/vs2010_runtime-10.00.40219.1-2.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/wcwidth-0.1.7-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/wheel-0.29.0-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/win_unicode_console-0.5-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/wrapt-1.10.8-py34_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/xerces-c-3.1.4-vc10_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/zlib-1.2.11-vc10_0.tar.bz2
