-c sunpy/label/citesting glymur
pytest
more-itertools
psutil>=4.3.1
PySAL
Sphinx>=1.4.6
-c conda-forge xmltodict>=0.11.0
glob2
-c clinicalgraphics recommonmark
scikit-learn
scikit-image
joblib
-c conda-forge tqdm
numpy
-c conda-forge tpot
gdal
-c git+https://github.com/sentinelsat/sentinelsat.git#egg=sentinelsat


